doctype html
html(lang="en")
    head
        title jade(pug)
    body
        h1 Hello Pug 
        div.container
            ul#booklist
                li: a(href="#book-a") Book A
                li: a(href="#book-b") Book B