- var name = "오태훈";
- var student = { no:1, name:"김이름", point:90}
doctype html
html(lang="en")
    head
        title jade(pug)
    body
        h1 Hello Pug 
        h2= name
        h3 #{student.no}
        h3 #{student.name}